@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-shadow-sp {
    text-shadow: 0px 0px 10px rgb(189, 95, 255);
  }

  .btn-style-sp {
    @apply text-white hover:text-zero-purple text-opacity-90 bg-zero-bg bg-opacity-50 hover:bg-opacity-80 border-b-0 border-t-0 border-zero-purple border-opacity-75;
    border-left-width: 3px;
    border-right-width: 3px;

    text-shadow: 0px 0px 10px rgba(60, 161, 255, 0.7);
  }

  .glow-sp {
    filter: drop-shadow(0px 0px 10px rgba(189, 95, 255, 0.7));
  }
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

html::-webkit-scrollbar {
  display: none;
}
